{% extends 'AdiqLiberoBundle::layout.html.twig' %}

{% block title %}Wypożycz książke{% endblock %}


{% block content %}

    <h1 class="title">Wypożycz książke</h1>

    {{ form(form) }}

{% endblock %}
